/* Homepage CSS */

.homepg-title {
    color: rgb(255, 221, 29);
    font-size: 44px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.christmas-tree {
    height: auto;
    width: 925px;
}

.december-img {
    height: 566px;
    width: 925px;
}

/* Steak Page CSS */

.steakpg-title {
    color: rgb(35, 190, 35); 
    font-size: 44px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.steak-img {
    height: 400px;
    width: 2000px;
}

.steak-head {
    color: rgb(41, 36, 36);
    font-size: 32px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.steak-text {
    color: rgb(119, 31, 31);
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Lobster Page CSS */

.lobpg-title {
    color: rgb(231, 78, 78);
    font-size: 44px; 
    font-family: Verdana, sans-serif;
    text-align: center;
}

.lob-img {
    height: auto;
    width: 900px;
}

.lob-head {
    color: rgb(130, 130, 255);
    font-size: 32px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.lob-text {
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.lob-text.reviews {
    color: rgb(137,172,118)
}

.lob-text.credit {
    color: rgb(229, 190, 001);
}

.lob-text.ingre {
    color: rgb(120,133,139)
}

.lob-text.steps {
    color: rgb(197,029,052)
}

/* Potatoes Page CSS */ 

.potpg-title {
    color: rgb(175, 174, 174);
    font-size: 44px; 
    font-family: Verdana, sans-serif;
    text-align: center;
}

